.text {
  fill: var(--text-color-primary);
  text-shadow: 0 0 1px black, 0 0 2px black;
  font-family: cursive;
}

.active {
  text-shadow: 0 0 1px var(--background-button-origin), 0 0 2px var(--background-button-origin);
  cursor: grab;
}

.clickable {
  cursor: pointer;
}

.s {
  font-size: var(--font-size-text-xxs);
}

.m {
  font-size: var(--font-size-text-m);
}

.l {
  font-size: var(--font-size-text-xxl);
}
