@import './var';

:root {
  --background-dark: #{$background-dark};
  --background-dark-text: #{$background-dark-text};
  --background-dark-image: #{$background-dark-image};
  --background-dark-card: #{$background-dark-card};
  --background-dark-popup: #{$background-dark-popup};
  --background-button-origin: #{$background-button-origin};
  --background-button-active: #{$background-button-active};
  --color-link: #{$color-link};
  --color-link-visited: #{$color-link-visited};
  --alert-color: #{$alert-color};
  --text-color-primary: #{$text-color-primary};
  --text-color-secondary: #{$text-color-secondary};
  --border-color-primary: #{$border-color-primary};
  --border-color-light: #{$border-color-light};
  --border-color-active: #{$border-color-active};
  --color-success: #{$color-success};
  --color-info: #{$color-info};
  --color-warn: #{$color-warn};
  --color-error: #{$color-error};
  --color-success-dark: #{$color-success-dark};
  --color-info-dark: #{$color-info-dark};
  --color-warn-dark: #{$color-warn-dark};
  --color-error-dark: #{$color-error-dark};

  --size-ss: #{$size-ss};
  --size-sm: #{$size-sm};
  --size-sl: #{$size-sl};
  --size-sxl: #{$size-sxl};
  --size-ms: #{$size-ms};
  --size-mm: #{$size-mm};
  --size-ml: #{$size-ml};
  --size-mxl: #{$size-mxl};
  --size-ls: #{$size-ls};
  --size-lm: #{$size-lm};
  --size-ll: #{$size-ll};
  --size-lxl: #{$size-lxl};
  --size-xls: #{$size-xls};
  --size-xlm: #{$size-xlm};
  --size-xll: #{$size-xll};

  --font-size-h1: #{$font-size-h1};
  --font-size-h2: #{$font-size-h2};
  --font-size-h3: #{$font-size-h3};
  --font-size-h4: #{$font-size-h4};
  --font-size-h5: #{$font-size-h5};
  --font-size-h6: #{$font-size-h6};
  --font-size-text-xxl: #{$font-size-text-xxl};
  --font-size-text-xl: #{$font-size-text-xl};
  --font-size-text-l: #{$font-size-text-l};
  --font-size-text-m: #{$font-size-text-m};
  --font-size-text-s: #{$font-size-text-s};
  --font-size-text-xs: #{$font-size-text-xs};
  --font-size-text-xxs: #{$font-size-text-xxs};
}
