.main {
  h1,
  h6 {
    font-weight: lighter;
    text-align: center;
  }

  h1 {
    color: var(--text-color-primary);
  }

  h6 {
    margin-top: 0;
  }
}

.games {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  li {
    flex: 0 0 25%;
    box-sizing: border-box;
    padding: 0 var(--size-sxl);
    margin-bottom: var(--size-sxl);

    & .wrapper {
      position: relative;
      border-radius: 5px;
      overflow: hidden;

      &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 32px 0 rgba(12, 12, 12, 1);

        & span {
          color: var(--text-color-primary);
        }
      }
    }
  }

  .cover {
    width: 100%;
    height: var(--size-ls);
    object-fit: cover;
  }

  .logo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: var(--size-mm);
    margin: 0 auto;

    height: var(--size-mm);
  }

  span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--size-mm);
    line-height: var(--size-mm);
    font-size: var(--font-size-text-l);

    background-image: linear-gradient(0deg, rgba(12, 12, 12, 1), rgba(12, 12, 12, 0.9));
    box-shadow: 0 0 20px 0 rgba(12, 12, 12, 0.9);
    text-align: center;
  }
}

@media (--screen-tablet) {
  .games li {
    flex: 0 0 33.33%;
  }
}

@media (--screen-phone) {
  .games li {
    flex: 0 0 100%;
  }
}
