.text {
  fill: var(--text-color-primary);
  text-shadow: 2px 2px 10px black;
  font-family: cursive;
}

.active {
  text-shadow: 2px 2px 10px white;
}

.clickable {
  cursor: pointer;
}

.s {
  font-size: var(--font-size-text-xs);
}

.m {
  font-size: var(--font-size-text-l);
}

.l {
  font-size: var(--font-size-h5);
}
