.main {
  display: flex;
  flex-wrap: wrap;
  padding: var(--size-sl) 0 0 0;
}

.card {
  flex: 1;
  height: var(--size-ml);
  min-width: var(--size-ml);
  margin: var(--size-sm);
  background: var(--background-dark-card);
  border-radius: var(--size-ss);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (--screen-desktop), (--screen-tablet) {
  .card {
    margin-top: 0;
    margin-bottom: 0;
  }

  .card:first-child {
    margin-left: 0;
  }

  .card:last-child {
    margin-right: 0;
  }
}

.title {
  text-align: center;
  color: var(--text-color-secondary);
  white-space: pre-line;
}

.items span:not(:first-child) {
  margin-left: var(--size-sm);
}

.l {
  font-size: var(--font-size-text-xxl);
  font-weight: bold;
}

.s {
  color: var(--text-color-secondary);
  font-size: var(--font-size-text-s);
}

@media (--screen-phone) {
  .s {
    display: none;
  }
}

@media (--screen-tablet) {
  .card {
    margin: var(--size-sm);
  }
}
