.msg {
  color: var(--text-color-secondary);
  font-size: smaller;
  white-space: pre-wrap;

  margin: var(--size-sm) 0;
}

.warn::before {
  color: var(--color-warn-dark);
}

.error::before {
  color: var(--color-error-dark);
}

.warn::before,
.error::before {
  margin-right: var(--size-ss);
}
