:root {
  --background-dark: #000000;
  --background-dark-text: #121212;
  --background-dark-image: #191919;
  --background-dark-card: #242424;
  --background-dark-popup: #393939;
  --background-button-origin: #df560f;
  --background-button-active: #f17433;
  --color-link: #d16363;
  --color-link-visited: #d16363;
  --alert-color: #d52e03;
  --text-color-primary: #ffffff;
  --text-color-secondary: #959595;
  --border-color-primary: #424242;
  --border-color-light: #676767;
  --border-color-active: #df560f;
  --color-success: #52c41a;
  --color-info: #1890ff;
  --color-warn: #faad14;
  --color-error: #ff4d4f;
  --color-success-dark: #419c14;
  --color-info-dark: #0073df;
  --color-warn-dark: #d38e04;
  --color-error-dark: #ff0a0d;

  --size-ss: 5px;
  --size-sm: 8px;
  --size-sl: 13px;
  --size-sxl: 21px;
  --size-ms: 34px;
  --size-mm: 55px;
  --size-ml: 89px;
  --size-mxl: 144px;
  --size-ls: 233px;
  --size-lm: 377px;
  --size-ll: 610px;
  --size-lxl: 987px;
  --size-xls: 1597px;
  --size-xlm: 2584px;
  --size-xll: 4181px;

  --font-size-h1: 44px;
  --font-size-h2: 38px;
  --font-size-h3: 32px;
  --font-size-h4: 26px;
  --font-size-h5: 20px;
  --font-size-h6: 14px;
  --font-size-text-xxl: 22px;
  --font-size-text-xl: 20px;
  --font-size-text-l: 18px;
  --font-size-text-m: 16px;
  --font-size-text-s: 14px;
  --font-size-text-xs: 12px;
  --font-size-text-xxs: 10px;
}
