.main {
  background: var(--background-dark-card);

  display: inline-block;
  height: calc(var(--size-ms) + 2 * var(--size-sm));
}

.name {
  margin: var(--size-sm);
  margin-right: 0;
  padding-right: var(--size-sm);
  height: var(--size-ms);
  line-height: var(--size-ms);

  border-right: 1px solid var(--border-color-primary);
}

.main > div {
  display: flex;
  float: left;
}

.dropdown {
  position: relative;
  align-items: center;
  justify-content: center;

  height: calc(var(--size-ms) + 2 * var(--size-sm));
  width: calc(var(--size-ms) + 2 * var(--size-sm));
}

.dropdown > i {
  font-family: 'iconfont';
  font-size: var(--font-size-h4);
  transform: rotate(90deg) translate(-2px, 1px);
}

.dropdown:hover {
  background: var(--background-dark-image);
  cursor: pointer;
}

.dropdownActive {
  background: var(--background-dark-image);
}
