.main {
  display: flex;
  align-items: center;
  font-size: var(--font-size-text-xxl);
  padding: var(--size-sxl) 0;

  border-bottom: 1px solid var(--border-color-primary);
}

.nickname {
  margin-left: var(--size-sl);
  color: var(--text-color-secondary);
}
