.card {
  background: var(--background-dark-card);
  border-top-left-radius: var(--size-ss);
  border-top-right-radius: var(--size-ss);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: var(--size-sm) var(--size-ss);
  background: var(--background-dark-image);
  border-top-left-radius: var(--size-ss);
  border-top-right-radius: var(--size-ss);

  font-size: var(--font-size-text-m);
  font-weight: bold;
}

.subTitle {
  font-weight: normal;
  font-size: var(--font-size-text-s);
  color: var(--text-color-secondary);
}
