.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--size-lm);
  background: var(--background-dark-popup);
  box-shadow: -10px 0px 20px 0 rgba(12, 12, 12, 0.9);

  z-index: 1000;
}

.title {
  position: relative;
  margin: 0;
  padding: var(--size-sl) 0;
  font-weight: normal;
  text-align: center;

  border-bottom: 1px dashed var(--border-color-light);

  & button {
    position: absolute;
    right: var(--size-sl);
    top: 50%;
    transform: translateY(-50%);

    margin-top: auto;
    margin-bottom: auto;
  }
}

.content {
  padding: var(--size-sl) var(--size-sm);
}
