.icon {
  width: var(--size-ml);
  height: var(--size-ml);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: var(--font-size-h3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 var(--size-sxl);
}

.ranked {
  color: var(--text-color-secondary);
  margin-top: var(--size-ss);
}
