.form {
  & label {
    font-size: var(--font-size-text-xs);
  }

  & > div {
    margin: var(--size-sl) 0;
  }
}

.btns {
  display: flex;
  justify-content: space-between;

  & > button {
    width: 49%;
  }
}
