.main {
  display: flex;
}

.main > img {
  width: var(--size-ml);
  height: var(--size-ml);
}

.info {
  margin-left: var(--size-sl);
}

.nickname {
  font-size: var(--font-size-text-l);
}

.icon {
  width: var(--size-ms);
  height: var(--size-ms);
}

.insignias {
  display: flex;
  align-items: center;
}
